/* overall font size */
h1 {
	font-size: 30px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24;
}

h5 {
	font: 22px;
}

body {
	box-sizing: border-box;
	margin: auto;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #01161e;
	letter-spacing: 0.8px;
	max-width: 1600px;
}

/* All Sections with flex & align-items: center */

header,
nav,
.menu,
.title,
footer,
.learning,
.thesis,
.column1,
.info-small,
.column2 {
	display: flex;

	align-items: center;
}

/* header section */

header {
	justify-content: space-between;
	height: 64px;
	padding: 0 24px;
	border-bottom: 1px solid #01161e;
}

header > .title {
	padding: 16px 0;
}

.academy {
	color: #8a97a8;
}

.desktop > strong {
	color: #01161e;
	font-weight: 800;
}

/* navigation section   */

nav,
span > a {
	text-decoration: none;
	padding-left: 16px;
	color: #8a97a8;
}

.mobile {
	display: none;
}

nav a:hover {
	color: #01161e;
	background-color: #8a97a8;
	border-radius: 5px;
	padding: 16px;
	transition: all 0s ease-in-out 300ms;
}

/* Banner Section */

.banner {
	display: flex;
	background-color: rgb(207, 207, 207);

	padding: 32px 24px;
}

.banner-image {
	width: 100%;
}

.banner-image > img {
	width: 60%;
}

.banner-text {
	display: flex;

	flex-flow: wrap column;
}

.banner-text > h1 {
	color: #01161e;

	align-self: left;
	font-weight: 800;
	justify-content: center;
	align-items: center;
}

.banner-text > h2 {
	color: #01161e;
	margin: 24px 0;
	align-self: left;
	font-weight: 400;
	font-size: 16px;
	justify-content: center;
	align-items: center;
}

.active {
	background-color: #01161e;
}

.button a {
	background-color: #605b5b;
	color: #fff;
	text-decoration: none;
	width: 50%;
	display: block;
	text-align: center;
	justify-content: center;

	align-self: left;

	padding: 8px;
	margin-top: 12px;
}

a:hover {
	background-color: #8a97a8;
	color: #01161e;
}

/* for info section */

.practicing,
.learn-box,
.info-text,
.thesis,
footer {
	background-color: #f1f1f1;
}

.banner > .box-large {
	width: 60%;
}

.info-text {
	padding: 32px 24px;
}

.info-text > h2 {
	padding-bottom: 24px;
	font-weight: 800;
}

.info-text h3 {
	font-size: 16px;
	color: #01161e;

	font-weight: 400;
}

.info-text > p {
	padding-bottom: 24px;
	font-weight: 400;
	padding: 32px 0;
}

.info-small {
	border-top: 0.1rem solid gray;
	border-left: 0.1rem solid gray;
}

.box1 {
	border-top: none;
}

.info-small img {
	max-width: 35%;
	height: auto;
	padding-left: 16px;
}

.info-small h3 h4 {
	color: #01161e;
	margin: 8px;
}

.info-small a {
	text-decoration: none;
	font-weight: bold;
	color: #01161e;
}

.learning {
	flex-direction: column;
	background-color: lightgrey;
	padding: 32px 72px;
}

.row1,
.row2 {
	display: flex;

	justify-content: center;
	margin-bottom: 24px;
}

.learn-box {
	max-width: 25%;
	margin: 16px;
}

.learn-box img {
	max-width: 100%;
}

.learn-text {
	margin: 16px;
}

.learn-box h4 {
	margin: 8px 16px;
}

/* thesis section css */

.thesis {
	display: flex;
	flex-direction: column;

	padding: 32px 24px;
}

.thesis-box {
	display: flex;
	padding-top: 32px;
}

.thesis1 {
	width: 60%;
	font-weight: 400;
}

.thesis1 > h2 {
	padding: 24px 0 8px 0;
	font-weight: 800;
}

video {
	width: 100%;
	border-radius: 5px;
}

.thesis2 {
	width: 40%;
	font-weight: 400;
}

.thesis2 > img {
	height: auto;
	width: 35%;
	padding-right: 16px;
	margin: 16px;
}

.greybox {
	background-color: #8a97a8;
}

.thesis-small {
	padding: 16px;
	margin-left: 16px;
	border-left: none;
}

/* footer css */

footer {
	flex-direction: row;

	justify-content: space-between;
	border-top: none;
	margin-left: 2px;
	width: 100%;
}

.copyright {
	padding: 16px 0 24px 24px;
}

.links {
	display: flex;

	flex-direction: row;
	padding: 16px 24px 24px 16px;
}

.links span a {
	color: #8a97a8;
	margin-left: 16px;
}

/* All Sections with flex & align-items: center */

/* mobile font size */
@media only screen and (max-width: 720px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 26px;
	}

	h4 {
		font-size: 24;
	}

	h5 {
		font: 22px;
	}

	.desktop,
	.logo {
		display: none;
	}

	.mobile {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		height: 64px;
	}

	.container1 {
		flex-direction: column;
	}

	.container1 > img {
		width: 100%;
	}
	.container1-content {
		padding: 32px 16px;
	}

	.container1-content > button {
		width: 100%;
		background-color: #3a3535;
		color: #fff;
		text-decoration: none;
		font-weight: 800;
		display: block;
		text-align: center;
		padding: 8px 0 8px 0;
		margin-top: 20px;
	}
}

/*TODO mobile media query max-width 720px */

@media only screen and (max-width: 720px) {
	nav span a:hover {
		padding: 2px;
		background-color: white;
	}
	.menu .desktop {
		display: none;
	}
	.menu .mobile {
		display: flex;
	}
}

@media only screen and (max-width: 720px) {
	[class*='-large'] {
		display: none;
	}
	[class*='-small'] {
		display: flex;
	}

	header {
		height: 3rem;
		max-width: 800px;
		width: 100%;
	}
	.menu {
		margin-right: 1rem;
	}
	.banner {
		display: block;
	}
	.banner-text h2 {
		margin: 0;
		padding-bottom: 2rem;
	}
	.banner-image {
		min-width: 100%;
		margin: 0;

		box-sizing: border-box;
	}
	.info-image {
		display: none;
	}
	.banner-text .info-small {
		border-top: none;
		border-left: 0;
	}
	.info-small img {
		min-width: 95%;
		padding: 0;
	}
	.practicing .banner-text {
		min-width: 100%;
		margin: 0;
	}
	.box1,
	.box2,
	.box3 {
		margin-bottom: 2rem;
	}
	.learning-box {
		min-width: 100%;
		text-align: center;
	}
	.learn-text {
		height: 24px;
		font-size: 16;
		text-align: center;
	}
	.learn-box {
		max-width: 100%;
		width: 90%;
		border-radius: 4px;

		justify-content: center;
		margin: 8px;
	}
	.thesis2 {
		display: none;
	}
	.thesis1 {
		width: 100%;
	}
	.thesis1 h2,
	h4 {
		display: none;
	}
	.learn-box img {
		display: none;
	}
	.learn-text h4 {
		display: none;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: inline-flex;

		justify-content: center;
		padding: 0 0.5rem;
	}
	.banner img {
		width: 100%;
	}
	.banner-text {
		text-align: center;
		margin-bottom: 2rem;
	}
	.row1,
	.row2 {
		width: 100%;
		flex-flow: column;
		align-items: center;
		margin-bottom: 0;
	}
	footer .links {
		display: none;
	}
	.thesis h2 {
		margin-bottom: 0.5rem;
	}
	.thesis1 {
		margin: 0 1rem;
	}
	footer {
		/* font-size: 16px; */
		padding: 16px 0;
		border: none;
		letter-spacing: 0;
	}

	.info-small {
		padding: 0rem;
	}
	.box1,
	.box2,
	.box3 {
		margin: 0 auto;
	}
}
